
body {
  margin: 10px;
}
.navbar-brand {
  color: red;
  text-align: right;
}

.navbar {
  background-color: rgb(237, 237, 237);
  margin-bottom: 1%;
}

.message {
  text-align: justify;
  font-weight: lighter;
  margin-left: 70%;
  max-width: 29%;
  margin-top: 0%;
}

h3 {
  font-weight: lighter;
  text-align: center;
}
.imagebouton{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.virtualtour {
  position: absolute;
}

.descriptionmochis {
  margin-left: 60%;
  max-width: 30%;
}
.description {
  color: grey;
  height: 120px;
}

.descriptionrestaurant {
width: 1000px;
  margin-top: 5%;
  margin-bottom: 5%;
  p {
    margin-top: 25%;
    color: grey;
  }
}

.btn {
  font-size:20px !important;
  background-color: rgb(255, 255, 255) !important;
  border: 0px;
}
.btn:hover {
  background-color: rgb(172, 171, 171) !important;
  border: 0px !important;
}
.btn:active {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border: 0px !important;
}
.formulaire {
  margin: 20px 500px 20px 500px;
}

.menu {margin-top: 3%;}

footer {
  background-color: rgb(236, 236, 236);
  color: grey;
  padding: 20px;
  font-size:15px;
  text-align: right ;
}

footer >.fa-brands {
  margin-left: 10px;
  margin-right: 10px;
}