/*relatif au body*/
body {
  margin: 10px;
}
/*style nom du restaurant*/
.navbar-brand {
  color: red;
  text-align: right;
}
/*style du navbar*/
.navbar {
  background-color: rgb(237, 237, 237);
  margin-bottom: 1%;
}

/*message du chef*/
.message {
  text-align: justify;
  font-weight: lighter;
  margin-left: 70%;
  max-width: 29%;
  margin-top: 0%;
}
/*pour tous les h3, afin d'avoir une uniformité, si on ajoute un h3 sera automatiquement du meme styke*/
h3 {
  font-weight: lighter;
  text-align: center;
}
/*conteneur du bouton virtualtour*/
.imagebouton{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*bouton virtual tout*/
.virtualtour {
  position: absolute;
}
/*conteneur comportants les trois plats phares*/
.menu {margin-top: 3%;}

/*description des plats, le texte*/
.description {
  color: grey;
  height: 120px;
}
/*description du restaurant, texte et photo*/
.descriptionrestaurant {
width: 1000px;
  margin-top: 5%;
  margin-bottom: 5%;
  p {
    margin-top: 25%;
    color: grey;
  }
}
/*bouton submit du formulaire*/
.btn {
  font-size:20px !important;
  background-color: rgb(255, 255, 255) !important;
  border: 0px;
}
.btn:hover {
  background-color: rgb(172, 171, 171) !important;
  border: 0px !important;
}
.btn:active {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  border: 0px !important;
}
/*formulaire*/
.formulaire {
  margin: 20px 500px 20px 500px;
}

footer {
  background-color: rgb(236, 236, 236);
  color: grey;
  padding: 20px;
  font-size:15px;
  text-align: right ;
}
/*logos reseaux sociaux du footer*/
footer >.fa-brands {
  margin-left: 10px;
  margin-right: 10px;
}